body {
	text-align: center;
	width: 100%;
	background: #fff6c7;
	font-family: Verdana, Geneva, sans-serif;
}

.movie-list {
	max-width: 1280px;
	width: 100%;
}

.movie-block {
	padding: 5px;
	width: 250px;
	height: 350px;
	max-height: 350px;
	display: inline-block;
	overflow: scroll;
}

.movie-thumbnail {
	width: 180px;
	height: 267px;
	border-radius: 5px;
}

.movie-name {
	margin: 5px;
	text-decoration: underline;
	font-weight: bold;
	color: blue;
}

.movie-rating {
	margin: 5px;
}

.movie-description {
	display: none;
}

#search-bar-container {
	margin-top: 20px;
	margin-bottom: 50px;
}

#search-bar {
	width: 300px;
	padding: 10px 10px 10px 20px;
	vertical-align: middle;
	background: #FFFAE0;
	border: none;
	border-radius: 30px;
	font-size: 20pt;
	outline: none;
}